body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
    font-family: sans-serif;
    font-size: medium;
}

main {
    background-image: url("https://images2.alphacoders.com/130/1306410.png");
    background-image: url("https://fondosmil.com/fondo/87839.jpg");
    /*background-image: url("https://media.istockphoto.com/id/1169152910/es/vector/l%C3%ADnea-hexagonal-de-luz-roja-abstracta-en-gris-moderno-lujo-futurista-fondo-vector-de.jpg?s=612x612&w=0&k=20&c=Boods6vYnDKcQhEdhFlHXXM-jhsdu-LUOsegnLwqWuI=");*/
    /*background-image: url("https://fondosmil.com/fondo/14376.jpg");*/
    background-repeat: no-repeat;
    background-size: 1400px ;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contenedor-principal {
    background-color: #2b2b2b;
    padding: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    width: 600px;    
}

#zabbix-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
     
} 

#zabbix-image > img {
    width: 200px;
    border-radius: 10px;
}

.boton-1{
    position: relative;
    padding: 10px 15px;
    border: none;
    outline:none;
    background-color: #2b2b2b;
    color: #4b94bd;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}
.boton-1 span{
    position: absolute;
    background-color: #707f84;
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: -100%;
    transition: .5s;

}

.boton-1:hover{
    background-color: #383838;
    color:antiquewhite;
}

.boton-1:hover span{
    left: 0;
}


#contenedor-seccion{
    margin-top: 20px;
    padding-left: 10%;
}

#contenedor-seccion>article> form > div{
    margin: 10px 0px;
}

#contenedor-seccion>article>form>div>label {
    margin-right: 20px;
}

.contenedor-seccion>article>form>div>input {
    background-color: #383838;
    color: antiquewhite;
}

#container-button-2{
    display: flex;
    justify-content: end;

}
#boton-2{
    width: 100px;
    position: relative;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    outline:none;
    background-color: #707f84;
    color: antiquewhite;
    cursor: pointer;

}

/*Estilos de dropdown*/
.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background-color: #383838;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #383838 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    /*transition: background 0.3;*/

}
.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a ;
}

.select:hover{
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.ceret-rotate{
    transform: rotate(180deg);

}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color:#9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;

}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #2a2d35;
}
.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}


.inactive {
    display: none;
}